<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
<h1>Welcome to Task Manager!</h1>

<p>This is a simple task management system.</p>

<button onclick="window.location.href = '/login';">Login</button>
<button onclick="window.location.href = '/register';">Register</button>


<script>
    async function getRequest(url = '') {
        const response = await fetch(url, {
            method: 'GET',
            cache: 'no-cache'
        })
        return response.json()
    }
    document.addEventListener('DOMContentLoaded', function () {
        let url = document.location
        let route = "/flaskwebgui-keep-server-alive"
        let interval_request = 3 * 1000 //sec
        function keep_alive_server() {
            getRequest(url + route)
                .then(data => console.log(data))
        }
        setInterval(keep_alive_server, interval_request)()
    })
</script>

</body>

</html>
