<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</head>
<body>
    <div class="container">
        <h1>Login:</h1>

        <!-- Form to enter login info -->
        <form method="post" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="identifier">Email/Username:</label>
                <input type="text" id="identifier" name="identifier" placeholder="Enter your email or username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your passsword" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <br>
        
        <!-- Switch to Register Button -->
        <button class="switch-register-login" onclick="window.location.href = '/register';">Create New Account</button> 

        <!-- Reset Password Button -->
        <button class="reset-password" onclick="window.location.href = '/reset_password';">Forgot passsword?</button>
    </div>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
</body>
</html>