<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <script>
        // Form validation, no empty fields, valid email, password requirements
        function validateForm() {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementByID('confirmPassword').value
            var username = document.getElementById('username').value;
            var firstName = document.getElementById('FirstName').value;
            var lastName = document.getElementById('LastName').value;
            var birthDate = document.getElementById('BirthDate').value;
            var role = document.getElementById('Role').value;
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            var passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).+$/;


            if (!emailPattern.test(email)) {
                alert('Please enter a valid email address.');
                return false;
            }

            if (!passwordPattern.test(password)) {
                alert('Password must contain at least one number, one uppercase letter, and one special character.');
                return false;
            }

            if (password != confirmPassword) {
                alert('Passwords do not match')
                return false;
            }
            
            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <br><br>
        <h1>Register:</h1>

        <!-- Form to enter register info --> 
        <form action="/register" method="POST" onsubmit="return validateForm()">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <br><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Requires at least a number, uppercase letter, and special char." required>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Please re-enter password." required>

            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName" placeholder="Enter your first name" required>

            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" placeholder="Enter your last name" required>

            <label for="BirthDate">Birth Date:</label>
            <input type="date" id="BirthDate" name="BirthDate" placeholder="Enter your birthdate" required>
            <br><br>
            <label for="Role">Role:</label>
            <select id="Role" name="Role" required>
                <!--Only Staff should be an option until an Admin assigns a user's role-->
                <option value="Staff">Staff</option>
                <!-- <option value="Manager">Manager</option>
                <option value="Admin">Admin</option> -->
            </select>
            <br><br>
            <!-- <input type="submit" value="register"> -->
            <button type="submit" value="register">Register</button>
        </form>
        <br>
        <!-- Switch to Login Button -->
        <button class="switch-register-login" onclick="window.location.href = '/login';">Return to Login</button> 

    </div>
    <!-- For web app -->
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
</body>
</html>