<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</head>
<body>
    <div class="container">
        <h1>Reset Password:</h1>
        <!-- Form to change password -->
        <form method="post" action="{{ url_for('auth.reset_password', email=email) }}">
            <div class="form-group">
                <p>Email:</p>
                <p>{{ email }}</p>
            </div>
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" placeholder="New Password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Passwords must match" required>
            </div>
            <button type="submit">Confirm Password Reset</button>
            <br><br>
            <button class="switch-register-login" onclick="window.location.href = '/auth/login';">Back to Login</button> 
        </form>
        <br>
    </div>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
</body>
</html>